.audit-logs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1300px;
  margin: 0 auto;
}

.audit-logs__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;

  h1 {
    margin: 0 0 4px;
    font-size: 20px;
  }
  p {
    margin: 0;
    max-width: 520px;
  }
}

.audit-logs__module-filter {
  width: 220px;

  ::ng-deep .mat-mdc-text-field-wrapper {
    height: 44px;
  }
}
